<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><%= current_user.name %>'s todo list</div>
      <div class="panel-body">
        <%= render partial: 'items/form' %>
      </div>
    </div>
    <br/>
    <%= render partial: 'items/item', collection: @items %>
  </div>
</div>